/* You can add global styles to this file, and also import other style files */

body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: burlywood;
    padding: 20px;
    margin: 0;
}

footer{
    background-color: black;
    color: azure;
    padding: 20px;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

h1{
    background-color: white;
    color:black;
    padding: 20px;
    margin: 0;
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
